*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: system-ui;
}
:root{
    --PrimaryColor: #4d3604;
    --primaryColor-1:#a68126;
    --color-blue-2:#66aed8;
    --color-white-3:#f4f4f4;
    --color-white-7: #eeeeeea5;
    --box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}
/* LogIn.html */
/* Container */
.container{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    padding-bottom: 20px;
    overflow: hidden;
}
.container .headerLogIn{
    width: 100%;
    height: auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
    position: relative;
}
.container .headerLogIn .logo{
    display: flex;
    margin-right: 20px;
    animation: fade 0.5s 0.3s backwards ;
}
#contact-us .logo{
    display: flex;
    margin-right: 20px;
}
.container-hero nav .logo{
    width: 367px;
    display: flex;
    animation: fade 0.5s 0.3s backwards ;
}
.container .headerLogIn .logo img,
.container-hero nav .logo img,
#contact-us .logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.container .headerLogIn h1,
.container-hero nav .logo h1{
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-right: 10px;
    color: var(--primaryColor-1);
}
.container .headerLogIn .backHome{
    margin-left: 20px;
    text-decoration: none;
    color: black;
    transition-duration: 0.4s;
    animation: fade 0.5s 0.6s backwards ;
}
.container .headerLogIn a:hover{
    color: var(--PrimaryColor-1);
    transition: 0.3s;
}
.container .headerLogIn a i{
    margin-right: 10px;
    color: var(--PrimaryColor);
}
/* loginInf */
.loginInf{
    width: 100%;
    height: 92.8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
.loginInf .login {
    position: relative;
    /* left: -1000px; */
    width: 400px;
    padding: 25px;
    background-color: var(--color-white-3);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 30px 0px;
    animation: fade 0.5s 0.9s backwards ;
}
.loginInf .login h2 , 
.loginInf .login p{
    color: var(--color-blue-5);
    margin-bottom: 13px;
    font-size: 30px;
}
.loginInf .login h2 span{
    color: var(--primaryColor-1);
}
.loginInf .login .userForm ,
.loginInf .login .passForm{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.loginInf .login .userForm label ,
.loginInf .login .passForm label{
    margin-bottom: 5px;
    color: var(--color-black-1);
    font-size: 15px;
}
.loginInf .login .userForm input ,
.loginInf .login .passForm input{
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    transition-duration: 0.3s;
}
.loginInf .login .userForm input:focus ,
.loginInf .login .passForm input:focus{
    border-bottom: 4px solid var(--PrimaryColor);
}
.loginInf .login .userForm input:hover ,
.loginInf .login .passForm input:hover{
    border-bottom: 4px solid var(--PrimaryColor);
    transition: 0.2s;
}
.loginInf .login .againPass ,
.loginInf .login .signup{
    width: 100%;
    display: flex;
    justify-content: center;
}
.loginInf .login .againPass p,
.loginInf .login .signup p{
    font-size: 13px;
    color: var(--color-black-1);
}
.loginInf .login .againPass a,
.loginInf .login .signup a{
    font-size: 13px;
    color: blue;
}
.loginInf .login .logButton{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.loginInf .login .logButton input{
    width: 100%;
    color: white;
    background-color: var(--primaryColor-1);
    padding: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.loginInf .login .logButton input:hover{
    background-color: var(--PrimaryColor);
    transition: 0.3s;
}
/* Right Page (logo image Page ) */
.loginInf .rightPage{
    animation: fadeRight 0.5 2s backwards;
}
.loginInf .rightPage img{
    width: 300px;
    position: relative;
    /* right: -1000px; */
}
@keyframes fadeRight{
    0%{
        transform: translateX(-1000px) scale(0.9);
    }
    100%{
        transform: translateY(0) scale(1);
    }
}
/* footer */
.footerLogIn{
    width: 100%;
}
.footerLogIn p{
    text-align: center;
}
/* Dashboard */
/* index.html */
.container-dash{
    margin-right: 250px;
    margin-left: 20px;
    width: auto !important;
}
.profImg{
    display: flex;
    align-items: center;
    animation: fade 0.5s 0.8s backwards;
    cursor: pointer;
    margin-left: 20px;
}
.profImg2{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
}
.profImg h4{
    margin-left: 10px;
    color: var(--PrimaryColor);
}
.profImg img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer; 
    object-fit: cover;
}
.headerLogIn .logoutBtn,
.headerIndex .logoutBtn{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: var(--box-shadow);
    position: absolute;
    left: 30px;
    background: white;
    width: 10rem;
    animation: none;
    text-decoration: none;
    color: black;
    z-index: 100;
}
.headerLogIn .logoutBtn:hover,
.headerIndex .logoutBtn:hover{
    background-color: var(--color-white-3);
    transition-duration: 0.3s;
    cursor: pointer;
}
.headerLogIn .logoutBtn h3,
.headerIndex .logoutBtn h3{
    font-size: 15px;
}
.headerLogIn .logoutBtn a,
.headerIndex .logoutBtn a{
    text-decoration: none;
    color: black;
}
.listRight{
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 100vh;
    background: var(--primaryColor-1);
    transition-duration: 0.5s;
    animation: fade 0.5s 0.2s backwards;
}
.listRight i{
    cursor: pointer;
    margin-top: 10px;
    font-size: 2rem;
    display: none;
    width: fit-content;
    height: fit-content;
}
.listRight span{
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 10px;
    display: none;
    cursor: pointer;
}
.listRight span:hover{
    color: white;
    transition-duration: 0.3s;
}
.listRight .idaraName{
    text-align: center;
    margin-top: 46px;
    font-size: 25px;
}
.nav i{
    display: none;
}
.nav ul{
    display: block;
    list-style: none;
    margin-top: 50px;
}
.nav ul .activeMain{
    background-color: var(--PrimaryColor);
}
.nav ul a{
    padding: 10px 0 10px 71px;
}
.nav ul .activeMain a{
    color: white;
}
.nav ul li{
    border-radius: 50px;
    color: black;
    margin-bottom: 15px;
    padding: 10px;
}
.nav ul li:hover{
    background-color: var(--PrimaryColor);
    color: white;
    transition-duration: 0.3s;
    color: white;
}
/* .nav ul li:hover a{
    color: white;
} */
.nav ul a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.container-dash .center-dash{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}
#services .center-dash{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 60px 0 0;
}
.card1{
    animation: fade 0.5s 1s backwards;
}
.card2{
    animation: fade 0.5s 1.2s backwards;
}
.card3{
    animation: fade 0.5s 1.4s backwards;
}
.card4{
    animation: fade 0.5s 1.6s backwards;
}
.card5{
    animation: fade 0.5s 1.8s backwards;
}
.card6{
    animation: fade 0.5s 2s backwards;
}
.card7{
    animation: fade 0.5s 2.2s backwards;
}
.card8{
    animation: fade 0.5s 2.4s backwards;
}
.card9{
    animation: fade 0.5s 2.6s backwards;
}
.card10{
    animation: fade 0.5s 2.8s backwards;
}
.card11{
    animation: fade 0.5s 3s backwards;
}
.card12{
    animation: fade 0.5s 3.2s backwards;
}
.container-dash .center-dash .card{
    width: 230px;
    padding: 20px 0;
    cursor: pointer;
    background-color: white;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
    border-radius: 10px;
    text-decoration: none;
}
#services .center-dash .card{
    width: 230px;
    padding: 20px 0;
    cursor: pointer;
    background-color: white;
    box-shadow: 4px 6px 10px -5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
    border-radius: 10px;
    text-decoration: none;
}
.container-dash .center-dash .card:hover,
#services .center-dash .card:hover{
    background-color: var(--primaryColor-1);
    transform: translateY(-10px);
    transition-duration: 0.3s;
}
.container-dash .center-dash .card:hover h4,
#services .center-dash .card:hover h4{
    color: white;
}
.container-dash .center-dash .card i,
#services .center-dash .card i{
    color: var(--PrimaryColor);
    font-size: 4rem;
}
.container-dash .center-dash .card h4,
#services .center-dash .card h4{
    margin-top: 15px;
    color: black;
    text-align: center;
}
#services .center-dash span{
    margin-top: 10px;
}
/* setting.html */
.head-inf {
    width: 100%;
    padding: 20px 0;
    margin-top: 10px;
    background-color: var(--color-white-3);
    animation: fade 0.5s 0.8s backwards;
}
.head-inf-in{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
    width: fit-content;
    margin-right: 20px;
}
.head-inf a{
    text-decoration: none;
    color: var(--PrimaryColor);
    margin-left: 5px;
    margin-right: 10px;
}
.head-inf a:hover{
    color: var(--primaryColor-1);
    transition: 0.3s;
}
.head-inf .active-head{
    color: var(--primaryColor-1);
}
/* studentSett.html */
.add-stud{
    width: 100%;
    padding: 20px 0;
    margin-top: 10px;
    background-color: var(--color-white-3);
    animation: fade 0.5s 1.1s backwards;
}
.add-stud a{
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
}
.add-stud a i{
    margin-left: 10px;
    color: var(--PrimaryColor);
}
.add-stud a h3{
    color: var(--primaryColor-1);
    transition-duration: 0.3s;
}
.add-stud a h3:hover{
    color: var(--PrimaryColor);
    transition: 0.3s;
}
.searchOfStud{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    animation: fade 0.5s 1.3s backwards;
}
.searchOfStud input[type=search]{
    width: 100%;
    border-radius: 30px;
    outline: none;
    border: 1px solid var(--color-white-3);
    padding: 10px 20px 10px 0;
}
.searchOfStud input[type=search]:hover,
.searchOfStud input[type=search]:focus{
    border: 1px solid var(--primaryColor-1);
}
.searchOfStud input[type=submit]{
    width: 100%;
    padding: 10px 0;
    border-radius: 30px;
    background-color: var(--primaryColor-1);
    cursor: pointer;
    border: none;
    outline: none;
    transition-duration: 0.3s;
    font-size: 16px;
    font-weight: 700;
}
.searchOfStud input[type=submit]:hover{
    column-rule: white;
    background-color: var(--PrimaryColor);
    transition: 0.3s;
}
.table{
    width: 100%;
    overflow-x: scroll;
    animation: fade 0.5s 1.5s backwards;
}
table{
    width: 100%;
    margin-top: 20px; 
}
thead th{
    background: var(--PrimaryColor);
    padding: 10px;
    border-radius: 10px;
    color: white;
}
tbody {
    text-align: center;
}
tbody td{
    padding: 10px 0;
}
tbody a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
/* changePassSett.html */
.changePass{
    width: 100%;
    margin-top: 20px;
    animation: fade 0.5s 1.1s backwards;
}
.changePass div{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.changePass label{
    width: fit-content;
    margin-right: 7px;
}
.changePass input ,
.changePass select{
    border: 1px solid var(--color-white-3);
    border-radius: 30px;
    padding: 10px 15px;
    outline: none;
    margin-top: 7px;
    transition-duration: 0.3s;
}
.changePass input:hover,
.changePass select:hover,
.changePass input:focus,
.changePass select:focus{
    border:1px solid var(--PrimaryColor);
    transition: 0.3s;
}
.changePass input[type=submit]{
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    background-color: var(--primaryColor-1);
    transition-duration: 0.3s;
}
.changePass input[type=submit]:hover{
    background-color: var(--PrimaryColor);
    transition: 0.3s;
}
/* index.html Hero Page */
.headerIndex{
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primaryColor-1);
    animation: fade 0.5s 0.5s backwards;
}
.headerIndex button{
    background-color: white;
    border: 1px solid var(--PrimaryColor);
    outline: none;
    padding: 5px 15px;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 5px;
    margin-right: 10px;
    color: black;
}
.headerIndex button:hover{
    background-color: var(--PrimaryColor);
    transition: 0.3s;
}
.headerIndex button:hover a{
    color: white;
}
.headerIndex button a{
    text-decoration: none;
    color: black;
}
.headerIndex .dashBtn,
.headerIndex .dashBtn a{
    background-color: #4d3604;
    color: white;
}
.container-hero{
    width: 95%;
    margin: auto;
    position: relative;
}
.container-hero #arrowUp{
    position: fixed;
    right: 50px;
    bottom: 20px;
    display: flex;
    align-items: flex-end;
    transition-duration: 0.4s;
    opacity: 1;
}
.container-hero #arrowUp i{
    padding: 15px;
    cursor: pointer;
    background-color: var(--primaryColor-1);
    color: white;
    transition-duration: 0.4s;
    border-radius: 50%;
}
.container-hero #arrowUp i:hover{
   background-color: var(--PrimaryColor);
   transition: 0.3s; 
   transform: translateY(-10px);
}
.container-hero .opacityImg{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.05;
    height: 90vh;
    animation: fade 0.5s 1.1s backwards;
}
.container-hero nav{
    display: flex;
    padding: 15px 0;
    margin-top: 10px;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 100;
    transition-duration: 0.4s;
    height: 60px;
    animation: fade 0.5s 0.8s backwards;
}
.container-hero #list2{
    display: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 2rem;
    margin-left: 10px;
}
.container-hero #closeListMain{
    display: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 2rem;
    margin-left: 10px;
    position: absolute;
    left: 10px;
    top: 0px;
}
.container-hero ul{
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    margin-right: 15px;
    transition-delay: 0.5s;
}
.container-hero ul a{
    margin-left: 15px;
    text-decoration: none;
    color: var(--primaryColor-1);
    padding: 5px 15px;
    border-radius: 50px;
    transition-duration: 0.3s;
}
.container-hero ul a:hover{
    background-color: var(--PrimaryColor);
    color: white;
    transition: 0.3s;
}
.container-hero ul .active{
    background-color: var(--PrimaryColor);
    color: white;
}
/* hero page */
#hero{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}
#hero .head1{
    animation: fade 0.5s 1.5s backwards;
}
#hero h2{
    color: var(--PrimaryColor);
    font-size: 30px;
    font-weight: bold;
}
#hero p{
    margin-top: 20px;
}
#hero img{
    width: 500px;
    animation: fade2 0.5s 1.3s backwards;
}
@keyframes fade2{
    0%{
        transform: translateX(-2000px) scale(0.9);
    }
    100%{
        transform: translateY(0) scale(1);
    }
}
@keyframes fade{
    0%{
        transform: translateX(2000px) scale(0.9);
    }
    100%{
        transform: translateY(0) scale(1);
    }
}
/* gaol us page */
#goal-us{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
    margin-top: -145px;
}
#goal-us h2{
    color: var(--PrimaryColor);
    font-size: 32px;
}
#goal-us p{
    border-right: 4px solid var(--primaryColor-1);
    padding-right: 10px;
    margin-top: 20px;
    line-height: 25px;
}
#goal-us img{
    width: 500px;
    border-radius: 20px;
    height: 300px;
}
/* services page */
#services{
    margin-bottom: 65px;
    width: 100%;
    padding: 20px 0;
    background: linear-gradient(125deg, var(--primaryColor-1), transparent);
}
#services h2{
    text-align: center;
    width: 100%;
    color: var(--PrimaryColor);
    font-size: 32px;
}
.serv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 60px; 
}
.serv .cardSer{
    background: #9e9e9e36;
    width: 200px;
    min-height: 143px;
    border-radius: 15px;
    box-shadow: 4px 6px 10px -5px;
    padding: 15px;
    border: 1px solid var(--PrimaryColor);
    transition-duration: 0.3s;
    cursor: pointer;
}
.serv .cardSer:hover{
    background-color: var(--primaryColor-1);
    transition: 0.3s;
    transform: translate(10px , -10px);
}
.serv .cardSer:hover h4{
    color: white;
}
.serv .cardSer h4{
    text-align: center;
    color: var(--primaryColor-1);
}
.serv .cardSer p{
    margin-top: 15px;
    text-align: center;
    width: 100%;
    line-height: 25px;
}
/* contact-us page */
#contact-us{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 0;
    padding: 20px 0;
    background: linear-gradient(45deg, var(--primaryColor-1), transparent);
    box-shadow: 0px -2px 9px -6px;
    border-radius: 15px;
}
#contact-us .logo h1{
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-right: 10px;
    color: black;
}
#contact-us h2{
    font-size: 17px;
    color: black;
}
#contact-us .social i{
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--PrimaryColor);
    color: black;
    transition-duration: 0.4s;
    cursor: pointer;
}
#contact-us .social i:hover{
    transition: 0.3s;
    background-color: var(--PrimaryColor);
    color: white;
}
.accordion.active::after{
    content: '<';
}
#desc{
    margin-top: 10px;
    background: white;
    border-radius: 5px;
    transition-duration: 0.3s;
    max-height: 0px;
    overflow: hidden;
    transition: 0.3s;
}
#desc h4{
    padding: 10px;
    margin-bottom: 5px;
}
#desc h4:hover{
    background-color: var(--color-white-3);
    transition: 0.3s;
}
/* Media Query */
@media (max-width: 812px){
    #hero{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
    }
    #goal-us{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
        margin-top: 50px;
        gap: 0;
    }
    #goal-us .goal-img{
        width: 100%;
    }
    #hero img ,
    #goal-us img{
        width: 100%;
    }
    #hero .head1 ,
    #goal-us .head1{
        width: 80%;
    }
    #goal-us{
        margin-bottom: 70px;
    }
}
@media (max-width: 768px){
    .loginInf .rightPage{
        display: none;
    }
    .nav{
        display: none;
    }
    .container-hero #list2{
        display: block;
    }
    .container-hero ul{
        display: none;
    }
    .container-hero nav{
        justify-content: space-between;
    }
    .listRight{
        display: flex;
        justify-content: center;
        width: 50px;
    }
    .listRight i{
        display: block;
    }
    .container-dash{
        margin-right: 70px;
    }
    table{
        width: 900px;
    }
}
@media (max-width: 568px){
    .container .headerLogIn a{
        font-size: 13px;
    }
    .container .headerLogIn h1{
        font-size: 1rem;
    }
    .container-dash .center-dash .card{
        width: 100%;
    }
    #services .center-dash .card{
        width: 94%;
    }
    .profImg{
        margin-left: 0;
        flex-direction: column-reverse;
    }
    .profImg h4{
        margin-left: 0;
    }
    .container .headerLogIn .logo,
    #contact-us .logo{
        margin-right: 0;
    }
    .head-inf a{
        margin-right: 0;
        font-size: 14px;
    }
    .serv .cardSer{
        min-height: 124px;
        width: 87%;
    }
   
}